@import "../../style/variables.scss";

.app {
	&__header {
		display: flex;
		justify-content: space-between;
	}
	&__title {
		font-weight: bold;
		font-size: 28px;
		line-height: 37px;
		padding: 10px;
		span {
			color: $main-color;
		}
	}
	&__menu {
		ul {
			display: flex;
			justify-content: space-between;
			font-weight: bold;
			font-size: 28px;
			line-height: 37px;
			padding: 10px;
			li {
				margin: 0 8px;
				a:hover {
					color: $main-color;
				}
			}
		}
	}
}

@media (max-width: $smallLaptop) {
	.app {
		&__header {
			justify-content: space-around;
		}
	}
}

@media (max-width: $mobile) {
	.app {
		&__header {
			flex-direction: column;
		}
		&__title {
			margin: 0 auto;
		}
		&__menu {
			ul {
				justify-content: center;
			}
		}
	}
}
